<div class="side-panel">
    <h1>Dashboard</h1>
    <ul>
        <li id="profile-list-item">
            <a href="/dashboard">
                <i class="fas fa-map-marker-alt icon"></i>
                <h3>Profile</h3>
            </a>
        </li>
        <li id="appointments-list-item">
            <a href="/appointments">
                <i class="fas fa-map-marker-alt icon"></i>
                <h3>Appointments</h3>
            </a>
        </li>
        <li id="schedule-list-item">
            <a href="/schedule">
                <i class="fas fa-map-marker-alt icon"></i>
                <h3>Create/Edit Schedules</h3>
            </a>
        </li>
        <li id="settings-list-item">
            <a href="">
                <i class="fas fa-map-marker-alt icon"></i>
                <h3>Settings</h3>
            </a>
        </li>
    </ul>
</div>