<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/root.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/header.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/contact-us.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/help-query.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/footer.css">

</head>

<body>

    <!-- Header starts -->
    <%- include("partials/header") %>
    <!-- Header Ends -->

    <!-- Banner -->
    <div class="banner">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png" alt="banner-bg">
        <div class="banner-text">
            <h1>Contact Us</h1>
            <span>Home / Contact Us</span>
        </div>
    </div>

    <!-- gps map -->
    <section class="gps-location-map">
        <div class="gps-map" id="gps-map">
        </div>
    </section>

    <!-- contact us -->
    <div class="contact-us-functionality">
        <section class="contact-info">
            <ul>
                <li>
                    <i class="fas fa-home"></i>
                    <h5>Noida, India</h5>
                    <span>Sector 45</span>
                </li>
                <li>
                    <!-- <i class="fas fa-phone-alt"></i> -->
                    <i class="fas fa-phone"></i>
                    <h5>00(440)9865562</h5>
                    <span>Mon to Fri 9am to 6pm</span>
                </li>
                <li>
                    <i class="fas fa-headset"></i>
                    <h5>support@tvastra.com</h5>
                    <span>Send us your query anytime</span>
                </li>
            </ul>
        </section>
        <section class="contact-query">
            <form action="#" method="post" class="contact-query-form">

                <input type="text" placeholder="Enter your name">
                <input type="email" placeholder="Enter email address">
                <input type="text" placeholder="Enter subject">
                <textarea  placeholder="Enter Message"></textarea>

                <button type="submit">Send Message</button>
            </form>
        </section>

    </div>

    <!-- Footer  -->
   <%- include("partials/footer") %>
   


    <script src="scripts/script.js"></script>
    <script src="scripts/gps-map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
    </script>
</body>

</html>