<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/root.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/header.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/help-query.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/footer.css"> -->

</head>

<body>

    <!-- Header starts -->
    <%- include("partials/header") %>
    <!-- Header Ends -->

    <!-- Login Section -->
    <section class="login-section">
        <div class="login-wrapper">
            <h1>Email Login</h1>
            <form action="/login" method="POST" class="login-form">
                <div class="mob-num-wrapper input-div">
                    <input type="email" name="email" required placeholder="Enter Email Address">
                   <a href="#"><i class="fas fa-question-circle"></i></a> 
                </div>
                <div class="password-wrapper input-div">
                    <input type="text" name="password" id="password" minlength="8" maxlength="16" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}" placeholder="Enter Password">
                    <i class="fas fa-eye-slash" id="password-hide"></i>
                    <i class="fas fa-eye" id="password-show" style="display: none;"></i>
                </div>
                <div class="login-options">
                    <a href="/login-otp">Login with OTP</a>   
                    <a href="/login-otp">Forgot Password</a>
                </div>
                <button type="submit">Login
                    <i class="fas fa-arrow-right"></i>
                </button>
            </form>
            <h5>Not Registered?
                <a href="signup">Sign Up</a>
            </h5>
        </div>
    </section>

    <!-- Footer  -->
    <footer class="footer">
        <p class="copyright">All Rights Reserved. &copy; tvastra 2020</p>
    </footer>

    <script src="scripts/password-visibility.js"></script>
    <script src="scripts/script.js"></script>
</body>

</html>