<!DOCTYPE html>
<html>
    <head>
        
        <style>
            ul{
                margin: 0%;
                padding: 0px;
                width: 100%;
                background-color: black;
                height: 50px;
                list-style: none;
            }
            li{
                float: right;
                padding: 10px;
                text-align: center;
            }

            li a{
                color: white;
            }
        </style>
    </head>
    <body>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
    </body>
</html>