<!DOCTYPE html>
<html>Internal Style Sheet
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/mystyle.css">
    <style>
    .container {
      height: 12rem;
      width: 50%;
      background-color: cyan;
    }
    body {
                background-image: linear-gradient(
            to right, red, yellow
            ) ;
                background-repeat: no-repeat;
        }
    p::after{
        content: " - Read More";
    }
    

    </style>
    
</head>
<body>

<h1>This is a heading</h1>
<p style="color: blue;">This is a paragraph.</p>
<h1 style="background-color:rgb(255, 99, 71);">rgb(255, 99, 71)</h1>
<h1 style="background-color:#ff6347;">#ff6347</h1>
<h1 style="background-color:hsl(9, 100%, 64%);">hsl(9, 100%, 64%)</h1>
<h1 style="border: 2px solid Tomato;">Happy coding!!</h1>
<h2 style="color:Tomato;">Happy Coding!!</h3>

    <div class="container">
        <h2>See the height and width of an element</h2>
      
        <p>The height of this element is 12rem which is equal to about 192px and width is 50% of the browser window</</p>
      </div>
      
    
</body>
</html>
