


.logo {
    width: 8rem;
    /* height: 2.5rem; */
    padding-left: 0.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 1rem 0.5rem;
}

.hide-mobile {
    display: none;
}

nav {
    align-content: center;
}

nav .menu-bar {
    /* margin-top: 40%;   */
    margin-right: 0.8rem;
    font-size: 1.2rem; 
}

nav ul {
    position: fixed;
    top: 0;
    right: 0;
    text-align: left;
    width: 50%;
    background: rgba(36, 41, 44);
    padding-top: 1rem;
    height: 100%;
}
nav ul li i{
    color: white;
}

nav ul li a{
    display: block;
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: white;
    background: rgb(49, 55, 59);
    width: 100%;
}

nav ul li a:hover {
    background-color:  rgb(69, 76, 80);
}

nav .exit-menu {
    margin-bottom: 1rem;
    /* margin-top: -1.3rem; */
    text-align: right;
    padding-right: 1.4rem;
}

nav .exit-menu i {
    cursor: pointer;
    font-size: 1.3rem;
}

/* Search location section starts */
.search-location-section {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    
    padding: 2rem 1.2rem; 
    background-color: #96c6e7;
    color: #010133;
    text-align: center;
    
    
}

.search-location-section h1  {
    font-size: var(--main-sectionHeadlines-font-size);
    line-height: var(--main-sectionHeadlines-line-height);
    color: var( --main-sectionHeadlines-color);
}
.search-location-section p  {
    font-size: var(--main-sectionPara-font-size);
    color: var(--main-sectionPara-color);
    margin: 1rem auto;
}
.search-location-section .gps-bar {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
   
    /* width: 100%; */
    /* background-color: white; */
    
    height: 3rem;
    margin-bottom: 0.5rem;
}

.search-location-section .gps-bar button {
    border-style: none;
    background-color: white;
    padding: 0 1rem;
    color: black;
}
.gps-bar input {
    border-style: none ;
    width: 100%;
    font-size: 0.9rem;
    
}
.search-location-section .search-box {
    font-size: .9rem;
    height: 3rem;
    width: 100%;
    border-style: none;
    display: block;
    margin: auto;
    padding-left: 0.5rem;
    
}

.search-location-section .search-button {
    
    background-color: #010133;
    border-style: none;
    height: 2.5rem;
    width: 40%;
    color: white;
    font-family: nexa-bold;
    font-size: 1rem;
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
}

/* Search Location container ends */

/* How it Works section */
.how-it-works {    
    padding: 2rem 1.2rem;
    text-align: center;
}

.how-it-works> h2 {
    font-size: var(--main-sectionHeadlines-font-size);
    line-height: var(--main-sectionHeadlines-line-height);
    color: var( --main-sectionHeadlines-color);
}

.how-it-works> p {
    font-size: var(--main-sectionPara-font-size);
    color: var(--main-sectionPara-color);
    margin: 1rem auto;
}

.how-it-works .step-box {
    background-color: white;
    color: rgb(194, 189, 189);
    border: 2px solid rgb(194, 189, 189);;
    border-radius: 10px;
    width: 100%;
    height: 3.5rem;
    /* max-height: auto; */
    margin: 1rem 0;
    
    font-size: 1.5rem;
    font-weight: 600;
    
    display: grid;
    grid-template-columns: 15% auto;
    justify-items: center;
    align-items: center;
    
}

.how-it-works .step-box:last-child {
    margin-bottom: 0;
}
.how-it-works .step-box .step-text {
    justify-self: left;
    line-height: 2rem;
    text-align: left;
}

.how-it-works .click-box {
    border: 2px solid #8fcaf1;
    color: var(--main-text-color);
}

.step-box p {
    font-size: inherit;
}
.how-it-works .click-box .number {
    color: #8fcaf1;
}

.how-it-works .step-content {
    max-width: 450px;
    margin: 0 auto;
    display: none;
    
}

.how-it-works .active-content {
    display: block;
}


.how-it-works .step-content p {
    padding: 1rem 0 0;
}


.how-it-works .step-content img {
    width: 100%;
    height: auto;  
    max-height: 470px;
    margin: 0.5rem auto;
    object-fit: cover;
}

/* Doctors List */
.doctor-list {
    background-color: #081038;
    color: white;
    padding: 2rem 1.2rem;
    margin: 0;
    text-align: center;
    /* padding-bottom: 2.5rem; */
}

.doctor-list > h2  {
    font-size: var(--main-sectionHeadlines-font-size);
    line-height: var(--main-sectionHeadlines-line-height);
    color: white;
}

.doctor-list > p  {
    font-size: var(--main-sectionPara-font-size);
    color: white;
    margin: 1rem auto;
} 

.doctor-list .doc-cards {
    display: inline-grid;
    grid-template-columns: auto;
    margin: auto;
    width: 100%;
    max-width: 28rem;
}

.doc-cards .card {
    /* max-width: 25rem; */
    color: #021433;
    background-color: white;
    margin-bottom: 1.2rem;

    display: inline-block;
    text-align: left;
    border-bottom: .25rem solid lightskyblue;
}

.doc-cards .card:last-child {
    margin-bottom: 0;
}

.card .doc-img {
    text-align: center;
    height: 22rem;
    max-height: 420px;

    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* max-width: 400px; */
    /* margin: 0 auto; */
}

.card .doc-info {
    padding: 0.5rem 0;
}
.card .doc-info .doc-name {
    color: #358dc7;
    font-size: 1.1rem;
    padding-bottom: 0.3rem;   
    font-family: nexa-bold;
    position: relative;
}

.card .doc-info .doc-name::before {
    content: '\2015';
    font-size: 1.75rem;
    position: absolute;
    left: 0rem;
    /* bottom: 0.8rem; */
}
.card .doc-info p {
    padding: 0rem 2rem 0 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: #4c4c4c;
}

.dots {
    display: none;
}

/* Doctors list ENDS */

/* Featured medical treatments */

.featured-treatments {
    color: #070f38;
    text-align: center;
    padding: 2rem 1.2rem;
    /* margin: 0.5rem 0; */
}

.featured-treatments > h2  {
    font-size: var(--main-sectionHeadlines-font-size);
    line-height: var(--main-sectionHeadlines-line-height);
    color: var(--main-sectionHeadlines-color);
}

.featured-treatments > p  {
    font-size: var(--main-sectionPara-font-size);
    color: var(--main-sectionPara-color);
    margin: 1rem auto;
} 

.features {
    display: grid;
    grid-template-columns: auto;
    margin: auto;
    width: 100%;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    max-width: 28rem;
}

.featured-treatments .features .feature {
    color: white;
    text-align: center;
    /* max-width: 420px; */

    position: relative;
    display: inline-block;
    margin-bottom:  1.2rem;
}

.features .feature:last-child {
    margin-bottom: 0;
} 

.featured-treatments>.features>.feature:before{
    content:'';
    position:absolute;
    left:0; top:0;
    width: 100%;
    height: 100%;
    display:inline-block;
    background-image: linear-gradient(to bottom,transparent 40%, #000);
}

.feature> img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.feature > .above-img {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    /* margin-bottom: 1rem; */
}
.above-img p {
    text-align: left;
    line-height: 1.5rem;
    color: white;
    font-size: 1.1rem;
    opacity: 0.9;
}

.above-img > .headline {
    font-family: nexa-bold;
}


/* Featured Treatments Ends */

/* Exclusive Services */
.services {
    background-color: rgb(233, 232, 232);
    color: #021433;
    padding: 2rem 1.2rem;
    text-align: center;
}

.services > h2  {
    font-size: var(--main-sectionHeadlines-font-size);
    line-height: var(--main-sectionHeadlines-line-height);
    color: var(--main-sectionHeadlines-color);
}

.services > p  {
    font-size: var(--main-sectionPara-font-size);
    color: var(--main-sectionPara-color);
    margin: 1rem auto;
}

.services-grid-container {
    display: grid;
    grid-template-columns: 47% 47%;
    column-gap: 6%;
    row-gap: 1rem;
    justify-content: center;
    align-content: center   ;
}

.services-grid-container .service-item {
    background-color: white;
    border-radius: 5%;
    color: gray;
    

    justify-self: stretch;
    align-self: center;
    /* /* padding: 1rem; */
    padding-bottom: 1rem; 

    
}

.service-item img {
    width: 80px;
    height: 80px;
}

.service-item p {
    /* text-transform: uppercase; */
    font-size: 0.8rem;
    font-weight: bold;
}

/* Exclusive Services Ends */

/* Need Help starts */
.help-query {
    background-color: #7fb9e0;
    padding: 2rem 1.2rem;
    color: var(--main-text-color);
    text-align: center;
}

.help-query h2 {
    color: white;
    padding: 0.5rem;
}

.help-query .right-content {
    padding: 1rem 0 0;
}

.help-query .right-content button {
    background-color: #0282d8;
    width: 15rem;
    height: 4rem;
    color: white;
    border-style: none;
    font-size: 1.2rem;
    border-radius: 5%;  
}
/* Need Help Ends */

/* Footer Starts */
.footer {
    padding: 1.5rem 1.2rem 1rem;
    background-color: #021433;
    text-align: center;
    color: #cccccc;
    border-bottom: 0.35rem solid #7fb9e0;
}

footer img {
    width: 10rem;
    
}


.tvastra-footer , .followUs-footer {
    list-style: none;
}

footer ul a {
    text-decoration: none;
    color: inherit;
    font-size: 1.1rem;
}

footer ul li {
    margin-top: 0.5rem;
}

footer .copyright {
    color: var(--footer-textItems-color);
    font-size: inherit;
    /* margin: 0.5rem; */
}



.social-icons {
    /* display: none; */
    font-size: x-large;
    padding: 0.5rem 0;
}

.social-icons i {
    margin: 0.5rem ;
}

.extra {
    height: 500px;
}


@media only screen and (min-width:700px) {
    
    .search-location-section .gps-bar {
        max-width: 60%;
        margin: 0 auto 0.5rem;
    }

    .search-location-section .search-box {
        max-width: 60%;
    }

    .search-location-section .search-button {
        width: 30%; 
    }

    /* How it Works */

    .how-it-works .steps {
        display: grid;
        grid-template-columns: 45% 55%;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding: 0.5rem 1rem;
    }

    .how-it-works .step-box {
        padding-right: 0.2rem;
        font-size: x-large;
    }

    .how-it-works .steps .step-content {
        grid-column: 2/3;
        grid-row: 1/8;
        padding: 2rem 0 1rem 2rem;
        
        max-width: 100%;
        max-height: 100%;
    }

    .how-it-works .step-content img {
        max-height: 100%;
        max-width: 100%;
    }

    /* Doctors -list */
    .doctor-list .doc-cards {
        display: inline-grid;
        grid-template-columns: 45% 45%;

        justify-content: space-evenly;
        justify-items: center;
        
        width: 100%;
    }

    .doctor-list .doc-cards .card {
        margin-bottom: 1rem;
    }
    
    /* Featured Treatments */
    .featured-treatments .features {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 1rem;
    }

    /* Exclusive Services */
    .services-grid-container {
        display: grid;
        grid-template-columns: 10rem 10rem 10rem;
        column-gap: 1rem;
    }
    .services-grid-container .service-item {
        height: 10rem;
    }
    .service-item img {
        width: 5rem;
        height: 5rem;
    }
    .service-item p {
        padding-top: 1rem;
    }

    /* Footer */
    .footer {
        background-color: initial;
        color: var(--main-text-color);
        padding: 1rem ;
        height: 8rem;
    }

    .footer-logo {
        float: right;
        max-width: 10rem;
        padding: 0.5rem 0;
    }

    .tvastra-footer {
        text-align: left;
        padding: 1rem 0;
    }

    .tvastra-footer li {
        display: inline;
        margin: 0 0.5rem 0 0;
        /* float: left; */
        
    }

    
    .followUs-footer {
        display: none;
    }

    .footer .copyright {
        color: inherit;
        font-size: unset;
        float: left;
        margin: 1rem 0;
    }

    .social-icons {
        display: block;
        float: right;
        font-size: x-large;
        margin: 1rem 0.5rem;
    }
    .social-icons i {
        margin-right: 0.5rem;
    }
}

@media only screen and (min-width: 1024px) {
    header {
        padding: 0.5rem 1rem;
    }

    .logo {
        height: 2rem;
    }
    .hide-desktop {
        display: none;
    }

    .show-desktop {
        display: inline-block;
    }

    nav {
        
        text-align: initial;
        display: flex;
        justify-content: space-around;
        align-content: center;
        justify-items: left;
        width: 80%;

    }
    nav ul {
        position: inherit;
        display: flex;
        color: black;
        width: auto;
        background-color: initial;
        padding: 0;
        align-self: center;
        margin-right: 1rem;
    }

    nav ul li {
        float: left;
        padding-right: 0.5rem;
        
    }

    nav ul li a {
        color: black;
        background-color: initial;
        padding: 0;
        font-size: large;
    }

    nav .nav-cta {
        display: inline-block;
        width: auto;
        /* font-size: large; */
    }

    nav .login-btn {
        border: 0.1rem solid var(--main-bg-color);
        padding: 0.5rem 1rem;
        background-color: white ;
        border-radius: 0.2rem;
        /* word-spacing: 1rem; */
        font-size: medium;
    }

    nav .getQuote-btn {
        border:  0.1rem solid var(--main-bg-color);
        background-color: var(--main-bg-color);
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 0.2rem;
        font-size: medium;
    }
}