@font-face{
    font-family: nexa-light;
    src: url(Fonts/Nexa-Light.otf);
}
@font-face{
    font-family: nexa-bold;
    src: url(Fonts/Nexa-Bold.otf);
}

.container {
    text-align: center;
    padding: 0.5rem .5rem;
    
}
.logo {
    width: 8rem;
    height: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
}

.hide-mobile {
    display: none;
}
nav {
    align-content: center;
}
.menu {
 margin-top: 50%;  
 margin-right: 10px; 
}
/* nav ul{
    padding: 0px;
    margin: 0%;
    width: 100%;
    background-color: white;
    list-style: none;
    height: 70px;
}
nav li{
    
    float: left;
    text-align: center;
    padding: 10px, 0px;
    line-height: 50px;
}


#navbarIcon {
    margin-right: 10px;
    color: #525659;
    float: right;
} */

/* Search location section starts */
.search-location-section {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    font-size: 20px;
    padding: 1rem 1rem; 
    background-color: #96c6e7;
    color: #010133;
    text-align: center;
    
    
}

.search-location-section h1  {
    margin: 1rem;
}
.search-location-section p  {
    margin: 1rem 0rem;
}
.search-location-section .gps-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    background-color: white;
    
    height: 3rem;
    margin: 0.5rem 0px;
    
}

.search-location-section .gps-bar button {
    border-style: none;
    background-color: white;
    padding: 1rem;
    color: black;
}
.gps-bar input {
    border-style: none ;
    width: 100%;
    
}
.search-location-section .search-box {
    font-size: .8rem;
    height: 3rem;
    width: 100%;
    border-style: none;
    /* padding-left: .5rem; */
    
}

.search-location-section .search-button {
    background-color: #010133;
    height: 3rem;
    width: 50%;
    color: white;
    font-family: nexa-bold;
    font-size: 1rem;
    margin-top: 30px;
    margin-bottom: 15px;
}

/* Search Location container ends */

/* How it Works section */
.how-it-works {
    
    align-items: center;
    
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1rem;
    text-align: center;
}

.how-it-works> .container> p {
    margin: 1rem auto;
}

.how-it-works .step-box button{
    background-color: white;
    color: rgb(194, 189, 189);
    border: 2px solid rgb(194, 189, 189);;
    border-radius: 5px;
    width: 100%;
    height: 80px;
    margin: 5px 0;
    font-size: 1.5rem;
    padding: 5px 10px 5px;
}

/* .how-it-works .step-box:hover {
    box-shadow: 0 0 1rem lightgrey;
} */

.how-it-works .step-photo {
    max-width: 450px;
    margin: 0 auto;
    /* display: none; */
}

.how-it-works .step-photo p {
    margin: 0.8rem auto;
}


.how-it-works .step-photo img {
    width: 100%;
    height: auto;
    
}

/* Doctors List */
.card .doc-img {
    max-width: 450px;
    margin: 0 auto;
}
.card img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.doctor-list {
    background-color: #081038;
    color: white;
    padding: 1rem;
    margin: 0;
    text-align: center;
    padding-bottom: 2.5rem;
}

.doctor-list h1 {
    margin: 1rem auto;
}
.doctor-list>p {
    margin: 1rem auto;
    font-weight: 600;
} 

.doctor-list .doc-cards {
    display: inline-grid;
    grid-template-columns: auto;
    margin: auto;
}

.doc-cards .card {
    max-width: 350px;
    color: #021433;
    background-color: white;
    margin: .3rem;

    display: inline-block;
    text-align: left;
    border-bottom: .25rem solid lightskyblue;
}

.card .doc-name {
    color: #358dc7;
    font-size: larger;
    padding: 0.8rem 0 0 0;
    font-family: nexa-bold;
}

.card p {
    padding: 0.5rem 1rem 0 2rem;
    font-size: larger;
    
}

.dots {
    display: none;
}

/* Doctors list ENDS */

/* Featured medical treatments */

.featured-treatments {
    color: #070f38;
    text-align: center;
    padding: 1rem 0 0;
    margin-top: 0.8rem;
}

.featured-treatments>p {
    font-size: large;
    color: #070f38;
    padding: 1rem 0;
    font-weight: 500;
}

.featured-treatments .features .feature {
    color: white;
    text-align: center;
    max-width: 350px;

    position: relative;
    display: inline-block;
    margin: .5rem auto;
}

.featured-treatments>.features>.feature:before{
    content:'';
    position:absolute;
    left:0; top:0;
    width: 100%;
    height: 100%;
    display:inline-block;
    background-image: linear-gradient(to bottom,transparent 40%, #000);
}

.feature> img {
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.feature > .above-img {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    margin-bottom: 1rem;
}
.above-img p {
    text-align: left;
    line-height: 1.5rem;
    color: white;
    font-size: 1.2rem;
    opacity: 0.8;
}

.above-img > .headline {
    font-family: nexa-bold;
}

.features {
    display: grid;
    grid-template-columns: auto;
    margin: 0.5rem;
    width: auto;

}
/* Featured Treatments Ends */

/* Exclusive Services */
.services {
    color: #021433;
    padding: 0rem 1.5rem 1.5rem;
}
.services .container h1 {
    margin: 1rem 0;
}

.services .container> p {
    padding: 0 0 1.5rem;
    font-size: large;
    margin-bottom: 0.5rem;
}

.services-grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: center;
}

.services-grid-container .service-item {
    background-color: lightgray;
    border-radius: 5%;
    color: gray;
    font-weight: bold;

    justify-self: stretch;
    align-self: center;
    padding: 1rem;
    padding-bottom: 1.5rem;
}

/* Exclusive Services Ends */

/* Need Help starts */
.help-query {
    background-color: #8fcaf1;
    padding: 1rem;
    color: #021433;
    text-align: center;
}

.help-query h2 {
    color: white;
    padding: 0.5rem;
}

.help-query .right-content {
    padding: 1rem 0 0.5rem;
}

.help-query .right-content button {
    background-color: #0099ff;
    width: 15rem;
    height: 4rem;
    color: white;
    border-style: none;
    font-size: 1.2rem;
    border-radius: 5%;  
}
/* Need Help Ends */

/* Footer Starts */
.footer {
    padding: 1rem;
    background-color: #021433;
    text-align: center;
    color: #cccccc;
    
}

footer img {
    width: 50%;
    margin: 1rem;
}
footer h2 {
    color:  white;
    font-size: 1.25rem;
    margin: 1rem;
}

.footer1 , .footer2 {
    list-style: none;
}

footer ul a {
    text-decoration: none;
    color: #cccccc;
}

footer ul li {
    padding: 0.5rem;
}

footer> p {
    color: #636668;
    font-size: 0.75rem;
    margin: 0.5rem;
}



#social-icons {
    display: none;
}

.extra {
    height: 500px;
}