

.container {
    text-align: center;
    padding: 0.5rem .5rem;
    
}
.logo {
    width: 8rem;
    height: 2.5rem;
    padding-left: 0.5rem;
}

header {
    display: flex;
    justify-content: space-between;
}

.hide-mobile {
    display: none;
}

nav {
    align-content: center;
}

nav .menu-bar {
    margin-top: 40%;  
    margin-right: 0.8rem;
    font-size: 1.2rem; 
}

nav ul {
    position: fixed;
    top: 0;
    right: 0;
    text-align: left;
    width: 50%;
    background: rgba(36, 41, 44);
    padding-top: 1rem;
    height: 100%;
}
nav ul li i{
    color: white;
}

nav ul li a{
    display: block;
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: white;
    background: rgb(49, 55, 59);
    width: 100%;
}

nav ul li a:hover {
    background-color:  rgb(69, 76, 80);
}

nav .exit-menu {
    margin-bottom: 1rem;
    /* margin-top: -1.3rem; */
    text-align: right;
    padding-right: 1.4rem;
}

nav .exit-menu i {
    cursor: pointer;
    font-size: 1.3rem;
}

/* Search location section starts */
.search-location-section {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    font-size: 20px;
    padding: 1rem 1rem; 
    background-color: #96c6e7;
    color: #010133;
    text-align: center;
    
    
}

.search-location-section h1  {
    margin: 1rem;
}
.search-location-section p  {
    margin: 1rem 0rem;
}
.search-location-section> .gps-bar {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
   
    /* width: 100%; */
    /* background-color: white; */
    
    height: 3rem;
    margin-bottom: 0.5rem;
}

.search-location-section .gps-bar button {
    border-style: none;
    background-color: white;
    padding: 0 1rem;
    color: black;
}
.gps-bar input {
    border-style: none ;
    width: 100%;
    
}
.search-location-section .search-box {
    font-size: .8rem;
    height: 3rem;
    width: 100%;
    border-style: none;
    display: block;
    margin: auto;
    /* padding-left: .5rem; */
    
}

.search-location-section .search-button {
    
    background-color: #010133;
    border-style: none;
    height: 3rem;
    width: 50%;
    color: white;
    font-family: nexa-bold;
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

/* Search Location container ends */

/* How it Works section */
.how-it-works {
    
    align-items: center;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1rem;
    text-align: center;
}

.how-it-works> .container> p {
    margin: 1rem auto;
}

.how-it-works .step-box {
    background-color: white;
    color: rgb(194, 189, 189);
    border: 2px solid rgb(194, 189, 189);;
    border-radius: 5px;
    width: 100%;
    height: 5rem;
    max-height: auto;
    margin: 0.3rem 0;
    
    font-size: 1.5rem;
    font-weight: 600;
    
    display: grid;
    grid-template-columns: 20% auto;
    justify-items: center;
    align-items: center;
    
}

.how-it-works .step-box .step-text {
    justify-self: left;
    line-height: 2rem;
    text-align: left;
}

.how-it-works .click-box {
    border: 2px solid #8fcaf1;
    color: var(--main-text-color);
}

.step-box p {
    font-size: inherit;
}
.how-it-works .click-box .number {
    color: #8fcaf1;
}

.how-it-works .step-content {
    max-width: 450px;
    margin: 0 auto;
    display: none;
    
}

.how-it-works .active-content {
    display: block;
}


.how-it-works .step-content p {
    padding: 0 0 0.8rem;
}


.how-it-works .step-content img {
    width: 100%;
    height: auto;  
    max-height: 470px;
    margin: 0.5rem auto;
    object-fit: cover;
}

/* Doctors List */
.card .doc-img {
    max-width: 450px;
    margin: 0 auto;
}
.card img {
    width: 100%;
    height: 450px;
    object-fit: fill;
}

.doctor-list {
    background-color: #081038;
    color: white;
    padding: 1rem;
    margin: 0;
    text-align: center;
    padding-bottom: 2.5rem;
}

.doctor-list h1 {
    margin: 1rem auto;
}
.doctor-list>p {
    margin: 1rem auto;
    font-weight: 600;
} 

.doctor-list .doc-cards {
    display: inline-grid;
    grid-template-columns: auto;
    margin: auto;
    
}

.doc-cards .card {
    max-width: 500px;
    color: #021433;
    background-color: white;
    margin: .3rem;

    display: inline-block;
    text-align: left;
    border-bottom: .25rem solid lightskyblue;
}

.card .doc-name {
    color: #358dc7;
    font-size: larger;
    padding: 0.8rem 0 0 0;
    font-family: nexa-bold;
}

.card p {
    padding: 0.5rem 1rem 0 2rem;
    font-size: larger;
    
}

.dots {
    display: none;
}

/* Doctors list ENDS */

/* Featured medical treatments */

.featured-treatments {
    color: #070f38;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem 0;
}

.featured-treatments>p {
    color: var(--main-text-color);
    padding: 0.5rem 0;
    font-weight: 500;
}

.featured-treatments .features .feature {
    color: white;
    text-align: center;
    max-width: 420px;

    position: relative;
    display: inline-block;
    margin: .5rem auto;
}

.featured-treatments>.features>.feature:before{
    content:'';
    position:absolute;
    left:0; top:0;
    width: 100%;
    height: 100%;
    display:inline-block;
    background-image: linear-gradient(to bottom,transparent 40%, #000);
}

.feature> img {
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.feature > .above-img {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    margin-bottom: 1rem;
}
.above-img p {
    text-align: left;
    line-height: 1.5rem;
    color: white;
    font-size: 1.2rem;
    opacity: 0.8;
}

.above-img > .headline {
    font-family: nexa-bold;
}

.features {
    display: grid;
    grid-template-columns: auto;
    margin: 0.5rem;
    width: auto;

}
/* Featured Treatments Ends */

/* Exclusive Services */
.services {
    background-color: rgb(233, 232, 232);
    color: #021433;
    padding: 0.5rem 1rem 1.5rem;
}
.services .container h1 {
    /* margin: 0.5rem 0; */
}

.services .container> p {
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
}

.services-grid-container {
    display: grid;
    grid-template-columns: 10rem 10rem;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: center;
    align-content: center   ;
}

.services-grid-container .service-item {
    background-color: white;
    border-radius: 5%;
    color: gray;
    font-weight: bold;

    justify-self: stretch;
    align-self: center;
    padding: 1rem;
    padding-bottom: 1.5rem;
}

/* Exclusive Services Ends */

/* Need Help starts */
.help-query {
    background-color: #8fcaf1;
    padding: 1rem;
    color: #021433;
    text-align: center;
}

.help-query h2 {
    color: white;
    padding: 0.5rem;
}

.help-query .right-content {
    padding: 1rem 0 0.5rem;
}

.help-query .right-content button {
    background-color: #0099ff;
    width: 15rem;
    height: 4rem;
    color: white;
    border-style: none;
    font-size: 1.2rem;
    border-radius: 5%;  
}
/* Need Help Ends */

/* Footer Starts */
.footer {
    padding: 1rem;
    background-color: #021433;
    text-align: center;
    color: #cccccc;
    
}

footer img {
    width: 50%;
    
}
footer h2 {
    color:  white;
    font-size: 1.25rem;
    margin: 1rem;
}

.tvastra-footer , .followUs-footer {
    list-style: none;
}

footer ul a {
    text-decoration: none;
    color: inherit;
}

footer ul li {
    margin: 0.5rem;
}

footer .copyright {
    color: var(--footer-copyright-color);
    font-size: 0.75rem;
    margin: 0.5rem;
}



.social-icons {
    display: none;
}

.extra {
    height: 500px;
}


@media only screen and (min-width:700px) {
    
    .search-location-section .gps-bar {
        max-width: 60%;
        margin: 0 auto 0.5rem;
    }

    .search-location-section .search-box {
        max-width: 60%;
    }

    .search-location-section .search-button {
        width: 30%; 
    }

    /* How it Works */

    .how-it-works .steps {
        display: grid;
        grid-template-columns: 45% 55%;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding: 0 1rem;
    }

    .how-it-works .step-box {
        padding-right: 0.2rem;
    }

    .how-it-works .steps .step-content {
        grid-column: 2/3;
        grid-row: 1/8;
        padding: 0.5rem 0 1rem 1.5rem;
        
        max-width: 90%;
        max-height: 100%;
    }

    .how-it-works .step-content img {
        max-height: 100%;
        max-width: 100%;
    }

    /* Doctors -list */
    .doctor-list .doc-cards {
        display: inline-grid;
        grid-template-columns: 45% 45%;

        justify-content: space-evenly;
        justify-items: center;
        
        width: 100%;
    }

    .doctor-list .doc-cards .card {
        margin-bottom: 1rem;
    }
    
    /* Featured Treatments */
    .featured-treatments .features {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 1rem;
    }

    /* Exclusive Services */
    .services-grid-container {
        display: grid;
        grid-template-columns: 10rem 10rem 10rem;
        column-gap: 1rem;
    }
    .services-grid-container .service-item {
        height: 10rem;
    }
    .service-item img {
        width: 5rem;
        height: 5rem;
    }
    .service-item p {
        padding-top: 1rem;
    }

    /* Footer */
    .footer {
        background-color: initial;
        color: var(--main-text-color);
        padding: 1rem ;
        height: 8rem;
    }

    .footer-logo {
        float: right;
        max-width: 10rem;
        padding: 0.5rem 0;
    }

    .tvastra-footer {
        text-align: left;
        padding: 1rem 0;
    }

    .tvastra-footer li {
        display: inline;
        margin: 0 0.5rem 0 0;
        /* float: left; */
        
    }

    .footer > h2 {
        display: none;
    }

    .followUs-footer {
        display: none;
    }

    .footer .copyright {
        color: inherit;
        font-size: unset;
        float: left;
        margin: 1rem 0;
    }

    .social-icons {
        display: block;
        float: right;
        font-size: x-large;
        margin: 1rem 0.5rem;
    }
    .social-icons i {
        margin-right: 0.5rem;
    }
}