@font-face{
    font-family: nexa-light;
    src: url(Fonts/Nexa-Light.otf);
}
@font-face{
    font-family: nexa-bold;
    src: url(Fonts/Nexa-Bold.otf);
}

html {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0;
}

h1 {
    font-size: 2rem;
    
    font-family: nexa-bold;
}
h2 {
    font-size: 1.5rem;
    font-family: nexa-bold;
}
h3 {
    font-size: 1.3rem;
    font-family: nexa-bold;
}

p {
    display: block;
    font-family: nexa-light;
    font-size: 1rem;;
}